*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* start nav */
.nav h1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.nav ul{
    display: flex;
    
}
.nav ul li{
    margin-top: 20px;
    padding: 15px;
    align-items: center;
    
}
.nav ul li a{
    color: rgb(64, 0, 255);
    text-decoration: none;
    font-size: 17px;
    color: wheat;

}
.nav ul li a:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 3p solid blue;
    border-radius: 10px;
}
    /* end nav */
    /* start login & singup */
#div1{
  position: absolute;
  top: 35%;
  left: 38%;
  display: none;
}
#div2{
  position: absolute;
  top: 35%;
  left: 38%;
  display: none;
}

#div1 #signup-form{
  position: absolute;
  top: 83%;
  left: 13%;
}
#div1 #name1{
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  
}
#div1 #pass1{
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}
#div1 #email1{
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}
#div2 #name2{
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}
#div2 #pass2{
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}



    .myDIV{
        display: flex;
        
    }
    .btn1{
        background-color: salmon;
        color: black;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 10px;
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
    }
    .btn1:hover{
        background-color: black;
        color: white;
        border-bottom: 4px solid rgb(64, 73, 245);
        border-top: 4px solid rgb(65, 204, 0);
        border-left: 4px solid rgb(202, 162, 3);
        border-right: 4px solid rgb(176, 5, 94);
        border-radius: 8px;
        padding: 5px;
        font-weight: bold;
        font-size: 15px;
    }
    .btn2{
        background-color: salmon;
        color: black;
        border: 3px solid rgb(12, 9, 9);
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        font-size: 15px;
    }
    .btn2:hover{
        background-color: black;
        color: white;
        border-bottom: 4px solid rgb(0, 13, 255);
        border-top: 4px solid rgb(65, 204, 0);
        border-left: 4px solid rgb(202, 162, 3);
        border-right: 4px solid rgb(176, 5, 94);
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        font-size: 15px;
    }



    body {
        background-color: #344a72;
        font-family: "Roboto", sans-serif;
      }
      
      .signup-box {
        width: 360px;
        height: 620px;
        margin: auto;
        background-color: white;
        border-radius: 3px;
      }
      
      .login-box {
        width: 360px;
        height: 280px;
        margin: auto;
        border-radius: 3px;
        background-color: white;
      }
      
      h1 {
        text-align: center;
        padding-top: 15px;
      }
      
      h4 {
        text-align: center;
      }
      
      form {
        width: 300px;
        margin-left: 20px;
      }
      
      form label {
        display: flex;
        margin-top: 20px;
        font-size: 18px;
      }
      
      form input {
        width: 100%;
        padding: 7px;
        border: none;
        border: 1px solid gray;
        border-radius: 6px;
        outline: none;
      }
      input[type="button"] {
        width: 320px;
        height: 35px;
        margin-top: 20px;
        border: none;
        background-color: #49c1a2;
        color: white;
        font-size: 18px;
      }
      p {
        text-align: center;
        padding-top: 20px;
        font-size: 15px;
      }
      .para-2 {
        text-align: center;
        color: white;
        font-size: 15px;
        margin-top: -10px;
      }
      .para-2 a {
        color: #49c1a2;
      }
      #login_btn{
        width: 100%;
        padding: 7px;
        border: none;
        border: 1px solid gray;
        border-radius: 6px;
        outline: none;
      }
      #login_btn a{
        text-decoration: none;
        color: black;
      }
